VITE_METADATA_TITLE=My title
VITE_METADATA_KEYWORDS=My keywords
# API
VITE_API_BASE_URL=https://data.europa.eu/api/hub/search/
VITE_API_HUB_URL=https://data.europa.eu/api/hub/repo/
VITE_API_QUALITY_BASE_URL=https://data.europa.eu/api/mqa/cache/
VITE_API_SIMILARITY_BASE_URL=https://data.europa.eu/api/similarities/
VITE_FILEUPLOAD_URL=https://data.europa.eu/api/hub/store/
VITE_SPARQL_URL=https://data.europa.eu/sparql
VITE_API_GAZETTEER_BASE_URL=https://data.europa.eu/api/hub/search/gazetteer/
VITE_API_CATALOG_BASE_URL=https://europeandataportal.eu/
VITE_CORSPROXY_API_URL=https://piveau-corsproxy-piveau.apps.osc.fokus.fraunhofer.de
# AUTHENTICATION
VITE_AUTHENTICATION_KEYCLOAK_REALM=piveau
VITE_AUTHENTICATION_KEYCLOAK_URL=https://keycloak-piveau.apps.osc.fokus.fraunhofer.de/auth
VITE_AUTHENTICATION_KEYCLOAK_SSL_REQUIRED=external
VITE_AUTHENTICATION_KEYCLOAK_CLIENT_ID=piveau-hub-ui
VITE_AUTHENTICATION_KEYCLOAK_PUBLIC_CLIENT=true
VITE_AUTHENTICATION_KEYCLOAK_VERIFY_TOKEN_AUDIENCE=true
VITE_AUTHENTICATION_KEYCLOAK_USE_RESOURCE_ROLE_MAPPINGS=true
VITE_AUTHENTICATION_KEYCLOAK_CONFIDENTIAL_PORT=0
VITE_AUTHENTICATION_KEYCLOAK_INIT_PKCE_METHOD=S256
VITE_CONTENT_DATA_PROVIDER_INTERFACE_SPECIFICATION=dcatapde
VITE_CONTENT_DATA_PROVIDER_INTERFACE_ENABLE_FILE_UPLOAD_REPLACE=true
