VUE_APP_METADATA_TITLE=My title
VUE_APP_METADATA_KEYWORDS=My keywords
# API
VUE_APP_API_BASE_URL=https://data.europa.eu/api/hub/search/
VUE_APP_API_HUB_URL=https://data.europa.eu/api/hub/repo/
VUE_APP_API_QUALITY_BASE_URL=https://data.europa.eu/api/mqa/cache/
VUE_APP_API_SIMILARITY_BASE_URL=https://data.europa.eu/api/similarities/
VUE_APP_FILEUPLOAD_URL=https://data.europa.eu/api/hub/store/
VUE_APP_SPARQL_URL=https://data.europa.eu/sparql
VUE_APP_API_GAZETTEER_BASE_URL=https://data.europa.eu/api/hub/search/gazetteer/
VUE_APP_API_CATALOG_BASE_URL=https://europeandataportal.eu/
VUE_APP_CORSPROXY_API_URL=https://piveau-corsproxy-piveau.apps.osc.fokus.fraunhofer.de
# AUTHENTICATION
VUE_APP_AUTHENTICATION_KEYCLOAK_REALM=piveau
VUE_APP_AUTHENTICATION_KEYCLOAK_URL=https://keycloak-piveau.apps.osc.fokus.fraunhofer.de/auth
VUE_APP_AUTHENTICATION_KEYCLOAK_SSL_REQUIRED=external
VUE_APP_AUTHENTICATION_KEYCLOAK_CLIENT_ID=piveau-hub-ui
VUE_APP_AUTHENTICATION_KEYCLOAK_PUBLIC_CLIENT=true
VUE_APP_AUTHENTICATION_KEYCLOAK_VERIFY_TOKEN_AUDIENCE=true
VUE_APP_AUTHENTICATION_KEYCLOAK_USE_RESOURCE_ROLE_MAPPINGS=true
VUE_APP_AUTHENTICATION_KEYCLOAK_CONFIDENTIAL_PORT=0
VUE_APP_AUTHENTICATION_KEYCLOAK_INIT_PKCE_METHOD=S256
VUE_APP_CONTENT_DATA_PROVIDER_INTERFACE_SPECIFICATION=dcatapde
VUE_APP_CONTENT_DATA_PROVIDER_INTERFACE_ENABLE_FILE_UPLOAD_REPLACE=true
